<% include ./non-header %>

<div class="container">
  <form method="post" action="/users">
    <legend>New User</legend>
    <ul class="nav">
    <p>Email address already exist.</p>
    <li><input type="text" name = 'name' placeholder ='Full Name'></li>
    <li><input type="text" name = 'email' placeholder ='Email Address'></li>
    <li><input type="text" name = 'password' placeholder ='Password'></li>
    <li><input type="text" name = 'image' placeholder ='Image'></li>
    <li><input type="submit" placeholder ='Sign Up'></li>
    <ul>
  </form>
</div>

<% include ./footer %>