<% include ./header %>

<body> 
  <h1>Vinyl</h1>
  <img src="img-colorful-vinyl.jpg">
  
  <h2>Records</h2>
  <% include ./list/list-albums %>

  <h2>Recent Reviews</h2>
  <% include ./list/list-reviews %>
</body>

</html>