<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Vinyl</title>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/">
          <img src="https://s-media-cache-ak0.pinimg.com/236x/4d/09/05/4d09055ac23d1d05e9b44b976b4391ac.jpg" height="50"/>&nbsp;&nbsp;
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <l1><h1>Vinyl</h1></l1>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logIn">Log In</a></li>
          <li><a href="/signUp">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</head>