<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/originals/d7/be/16/d7be165d7c5e2a8a891fed48c214082f.png" type="image/png">

  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link type="text/css" rel="stylesheet" href="style.css">

  <title>Vinyl</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:3000/">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Vinyl_Intertitle.png/250px-Vinyl_Intertitle.png" height="30"/>&nbsp;&nbsp;
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logIn">Log In</a></li>
          <li><a href="/signUp">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
