<% include ./non-header %>

<div class="sign-up">
  <form>
    <legend>New User</legend>
    <input type="text" placeholder ='Full Name'>
    <input type="text" placeholder ='Email Address'>
    <input type="text" placeholder ='Password'>
    <input type="text" placeholder ='Image'>
    <input type="submit" placeholder ='Sign Up'>
  </form>
</div>