<% include ./header %>

<body>
  <div class="profile-info navbar navbar-default container">  
    
    <h2><%= user.name %></h2>
    <img width="150" height="150" src=<%= user.image %>>
    <h4> Email: <%= user.email %> </h4>
    <h5> Joined:  <%= user.timestamp %> </h5>

    <h2>Their Reviews</h2>
    <% include ./list/list-reviews%>

  </div>
</body>
</html>