<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link type="text/css" rel="stylesheet" href="style.css">

  <title>Vinyl</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Vinyl_Intertitle.png/250px-Vinyl_Intertitle.png" height="40"/>&nbsp;&nbsp;
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <l1><h1>Vinyl</h1></l1>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logIn">Log In</a></li>
          <li><a href="/signUp">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
