<% include ./non-header %>

<div class="sign-up">
  <h1><%= user.name %></h1>
  <img width="150" height="100" src=<%= user.image %>>
  <h2> Email: <%= user.email %> </h2>
  <h4> Joined:  <%= user.timestamp %> </h4>
</div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
  </body>
</html>