<!DOCTYPE html>
<% include ./header %>

<% if (errorSignUp) { %>
  <p><%= errorSignUp %></p>
<% } %>

<form action="sign-up" method="post">
  <input type="name" name="name" placeholder="Full Name" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit" value="sign-up">
</form>