<% include ./header %>

<body>

  <div>
  
  <% if (errorLogin) { %>
    <p><%= errorLogin %></p>
  <% } %>
  
  <form action="/sign-in" method="post">
    <ul class="nav">
      <li><input type="text" name = "email" placeholder="Email Address" required></li>
      <li><input type="text" name = "password" placeholder="Password" required></li>
    </ul> 
    <input class="right" type="submit" value="Log In">
  </form>
  
  </div>
</body>

</html>