<% include ./header %>
<header>
  <link type="text/css" rel="stylesheet" href="./style.css">
</header>

<div class="container">
<form action="/user" method="post">
 <ul class="nav">
  <p>New user log in to verify</p>
  <li><input type="text" name = "email" placeholder="Email Address"></li>
  <li><input type="text" name = "password" placeholder="Password"></li>
  </ul> 
  <input class="right" type="submit" value="Log In">
</form>
<div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script.js"></script>
  </body>
</html>