a:visited {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: gray;
}

li {
  list-style: none;
}

html {
  border: solid;

}

head {
  border: solid;
}


body {
  text-align: center;
}